.nav-main {
    background-color: #f9f9f9;
}

.nav a {
    display: inline-block;
    padding: 8px 8px;
    padding-left: 4px;
    text-decoration: none;
    color: #999999;
    cursor: pointer;
}
.nav-link-active{
    background-color: #ddd;
}
.nav a:hover{
    color: black;
    background-color: #ddd;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li{
    font-size: 1rem;
    color: #999999;
}

.nav-bar-mobile{
    display: none;
}
.nav-mobile ul{
    list-style-type: none;
    padding-left: 0;
}
.nav-mobile li:nth-child(4){
    padding-left: 0.3rem;
}
.email-id{
    color: rgb(115,200,213);
}

@media all and (max-width:400px){
    .nav-bar-mobile{
        display: flex;
    }
    .nav-desktop{
        display: none;
    }
    
}