:root{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}


.container {
    width: 86.60531%;
    margin: 0 auto;
}

.full-width{
    width: 100%;
}

.list-unstyle{
    text-decoration: none;
    list-style: none;
    padding:0;
    margin:0;
}

.list-unstyle li {
    display: inline-block;
}


.d-type{
    display: flex;
}

.hide{
    display: none;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-right{
    justify-content: right;
}
.aligin-items-center{
    align-items: center;
}
.justify-space-between{
    justify-content: space-between;
}
.box-border-style{
    box-shadow: 0px 0px 2px 1px gray;
}

.meetings-link-active{
    color: gray;
    border-style: solid solid none solid;
    border-radius: 2px;
    border-width: 1px;
}
.meetings-link-inactive{
    
    border-style: none none solid none;
    border-radius: 2px;
    border-width: 1px;
}
.meetings-link-inactive a{
    color: blue;
}
.btn {
    padding: 0.5em 1em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: rgb(24, 162, 184);
}

.btn-danger {
    color: white;
    background-color: crimson;
}

.btn-icon {
    padding: 8px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

